Source: srcinst
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 4.0.0), ghc6 (>= 6.2.2), libghc6-missingh-dev (>= 0.9.2), libghc6-cabal-dev (>= 0.5)
Standards-Version: 3.6.1
Section: utils

Package: srcinst
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, build-essential, apt (>= 0.5)
Description: Build and install Debian packages completely from source
 srcinst is used to build and install Debian packages completely from source.
 All dependencies and build-dependencies are also built recursively from source.
 No binary .debs are required to install packages with this tool; however,
 it does generate binary .debs for your use.
